{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<h3 class="textCentre">Informations de la session <a href='{{ path("sessions_detail", {"id":sessions.id}) }}'>{{ sessions.nom }}</a></h3>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Intitulé Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nb places théoriques</th>
            <th>Nb places réservées</th>
            <th>Nb places restantes</th>
            <th>Détails programme</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ sessions.nom }}
                </td>
                <td>{{ sessions.dateDebut | date('d/m/Y') }}</td>
                <td>{{ sessions.dateFin | date('d/m/Y') }}</td>
                <td>{{ sessions.placesMax }}</td>
                <td>{{ sessions.stagiaires | length }}</td>
                <td>{{ (sessions.placesMax - sessions.stagiaires | length) }}</td>
                <td>
                    <a href='{{ path("detailProgramme", {"id":sessions.id}) }}'>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                            <circle cx="3.5" cy="5.5" r=".5"/>
                            <circle cx="3.5" cy="8" r=".5"/>
                            <circle cx="3.5" cy="10.5" r=".5"/>
                        </svg>
                    </a>
                </td>
                <td>
                    <a href='{{ path("sessions_edit", {"id":sessions.id}) }}'>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                </td>
                <td>                    
                    <a href="{{ path('session_delete', {'id':sessions.id}) }}">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </td>
            </tr>
    </tbody>
</table>

<h3 class="textCentre">Liste des stagiaires</h3>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Prénom et nom</th>
            <th>Date de naissance</th>
            <th>Email</th>
            <th>Ville</th>
            <th>Téléphone</th>
            <th>Sexe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for stagiaire in sessions.stagiaires %}

            <tr>
                <td>
                    <a href="{{ path('stagiaire_show', { 'id':stagiaire.id }) }}">
                        {{ stagiaire.prenom ~ " " ~ stagiaire.nom }}
                    </a>
                </td>
                <td>{{ stagiaire.dateNaissance | date('d/m/Y') }}</td>
                <td>{{ stagiaire.email }}</td>
                <td>{{ stagiaire.ville }}</td>
                <td>{{ stagiaire.telephone }}</td>
                <td>
                {{ stagiaire.sexe }}
                </td>
                <td>
                    <a href="{{ path('unsubscribe_stagiaire', { 'stagiaire_id':stagiaire.id, 'session_id':sessions.id }) }}">
                         <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    </a>
                </td>
            </tr>    
{% endfor %}

    </tbody>
</table>
    {% if (sessions.placesMax - sessions.stagiaires | length) > 0 %}
        <br>
            <a class="btn btn-dark" class= "icon_add" href="{{ path('sessionsStagiaires_add', { 'id':sessions.id }) }}">Ajouter un stagiaire dans la session</a>
        <br><br>
    {% endif %}

{% endblock %}
